In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Management.csv')

In [3]:
df.head()

,Unnamed: 0,TotalOdo,ACPressure,EngineWaterTemp,ExternalTemperatureAD_Voltage,IBS_V_Batt,IBS_I_Batt,IBS_T_Batt,IBS_I_Range,IBS_SOC,...,IBS_Q_released,IBS_Tm_Lst_Reset_Days,IBS_R_Batt,IBS_R_Batt_25,IBS_SOF_t_Accuracy,IBS_PreWakeupVoltage,IBS_SOF_t,IBS_IBATT_QUIESCENT,IBS_SOF_V1,score
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
1,1,2621,75,75,77,9594,9594,74,1,99,...,0,0,0,0,0,0,0,0,0,5.192254
2,2,2621,75,75,77,9594,9594,74,1,99,...,1773,848,94,95,2,1023,247,253,129,8.908896
3,3,2621,75,75,77,9594,9594,74,1,99,...,1773,848,94,95,2,1023,247,253,129,8.908896
4,4,2621,75,75,77,9594,9594,74,1,99,...,1773,848,94,95,2,1023,247,253,129,8.908896

In [4]:
df=df.drop('Unnamed: 0',axis=1)

In [5]:
df.head()

,TotalOdo,ACPressure,EngineWaterTemp,ExternalTemperatureAD_Voltage,IBS_V_Batt,IBS_I_Batt,IBS_T_Batt,IBS_I_Range,IBS_SOC,IBS_SOF_Q,...,IBS_Q_released,IBS_Tm_Lst_Reset_Days,IBS_R_Batt,IBS_R_Batt_25,IBS_SOF_t_Accuracy,IBS_PreWakeupVoltage,IBS_SOF_t,IBS_IBATT_QUIESCENT,IBS_SOF_V1,score
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000
1,2621,75,75,77,9594,9594,74,1,99,106,...,0,0,0,0,0,0,0,0,0,5.192254
2,2621,75,75,77,9594,9594,74,1,99,106,...,1773,848,94,95,2,1023,247,253,129,8.908896
3,2621,75,75,77,9594,9594,74,1,99,106,...,1773,848,94,95,2,1023,247,253,129,8.908896
4,2621,75,75,77,9594,9594,74,1,99,106,...,1773,848,94,95,2,1023,247,253,129,8.908896

In [6]:
X_train=df.drop('score',axis=1)
y_train=df['score']

In [10]:
np.array(X_train.iloc[100])

array([ 2621,   122,    79,    78, 11101, 11101,    74,     1,    99,
         106,     2,     2,   138,   156,     0,     2,  2441,  1774,
         848,    96,    98,     2,  1023,   258,   255,   125])

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
scaler=StandardScaler()
X_scaled=scaler.fit_transform(X_train)
X_train=X_scaled

In [11]:
import numpy as np
import os
import cv2
import keras
from keras.utils import np_utils
from keras.models import Sequential
from keras.layers import Conv2D,MaxPooling2D,Dense,Flatten,Dropout

2022-10-29 22:37:12.567876: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /home/sairamgundala/.local/lib/python3.10/site-packages/cv2/../../lib64:
2022-10-29 22:37:12.567898: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [19]:
model=Sequential()
model.add(keras.Input(shape=(X_train.shape[1],)))
model.add(Dense(500,activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1,activation='relu'))
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 500)               13500

 dropout_1 (Dropout)         (None, 500)               0

 dense_3 (Dense)             (None, 1)                 501

=================================================================
Total params: 14,001
Trainable params: 14,001
Non-trainable params: 0
_________________________________________________________________

In [20]:
model.compile(loss='mean_absolute_percentage_error', optimizer='adam', metrics=['mse'])

In [21]:
model.fit(X_train,y_train,epochs=20,verbose=1)

Epoch 1/20
317/317 [==============================] - 0s 853us/step - loss: 19.3755 - mse: 9.3197
Epoch 2/20
317/317 [==============================] - 0s 871us/step - loss: 3.4918 - mse: 0.1755
Epoch 3/20
317/317 [==============================] - 0s 867us/step - loss: 3.1859 - mse: 0.1494
Epoch 4/20
317/317 [==============================] - 0s 924us/step - loss: 2.9799 - mse: 0.1329
Epoch 5/20
317/317 [==============================] - 0s 863us/step - loss: 2.8769 - mse: 0.1256
Epoch 6/20
317/317 [==============================] - 0s 874us/step - loss: 2.7951 - mse: 0.1175
Epoch 7/20
317/317 [==============================] - 0s 881us/step - loss: 2.7008 - mse: 0.1118
Epoch 8/20
317/317 [==============================] - 0s 872us/step - loss: 2.7004 - mse: 0.1121
Epoch 9/20
317/317 [==============================] - 0s 871us/step - loss: 2.6400 - mse: 0.1078
Epoch 10/20
317/317 [==============================] - 0s 881us/step - loss: 2.5768 - mse: 0.1026
Epoch 11/20
317/317 [==============================] - 0s 894us/step - loss: 2.5950 - mse: 0.1040
Epoch 12/20
317/317 [==============================] - 0s 930us/step - loss: 2.4904 - mse: 0.0980
Epoch 13/20
317/317 [==============================] - 0s 957us/step - loss: 2.4930 - mse: 0.0986
Epoch 14/20
317/317 [==============================] - 0s 931us/step - loss: 2.4696 - mse: 0.0973
Epoch 15/20
317/317 [==============================] - 0s 879us/step - loss: 2.4408 - mse: 0.0935
Epoch 16/20
317/317 [==============================] - 0s 913us/step - loss: 2.4813 - mse: 0.0962
Epoch 17/20
317/317 [==============================] - 0s 923us/step - loss: 2.4501 - mse: 0.0947
Epoch 18/20
317/317 [==============================] - 0s 891us/step - loss: 2.4273 - mse: 0.0931
Epoch 19/20
317/317 [==============================] - 0s 990us/step - loss: 2.3624 - mse: 0.0897
Epoch 20/20
317/317 [==============================] - 0s 918us/step - loss: 2.3300 - mse: 0.0875

In [22]:
test=np.array([X_train[100]])
test=test[None:]
model.predict(test)

array([[9.179107]], dtype=float32)

In [25]:
model.evaluate(X_train,y_train)

317/317 [==============================] - 0s 551us/step - loss: 0.5669 - mse: 0.0249

[0.5669384002685547, 0.02486356534063816]

In [23]:
model.save('MaintenanceModel.h5')

In [24]:
from pickle import dump

In [27]:
dump(scaler,open('maintanenceScale.pkl','rb'))

FileNotFoundError: [Errno 2] No such file or directory: 'maintanenceScale.pkl'